body {
	background-image: linear-gradient(90deg, #485563, #29323c);
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	overflow-x: hidden;
}

tbody {
	color: #eeeeee;
}

thead {
	color: #e5e5e5;
}

.mini_banner {
	display: none;
}



tr.speed0 {
	background-image: linear-gradient(230deg, hsl(335, 58%, 48%), hsl(335, 47%, 60%));
}

tr.speed1 {
	background-image: linear-gradient(230deg, hsl(0, 65%, 60%),hsl(0, 79%, 63%) );
}
tr.speed2 {
	background-image: linear-gradient(230deg, hsl(282, 38%, 28%), hsl(282, 27%, 56%));
}

tr.speed3 {
	background-image: linear-gradient(230deg, hsl(238, 38%, 28%), hsl(206, 53%, 56%));
}

tr.speed4 {
	background-image: linear-gradient(230deg, hsl(186, 38%, 28%), hsl(186, 27%, 56%));
}

tr.speed5 {
	background-image: linear-gradient(230deg, hsl(30, 83%, 38%), hsl(30, 49%, 56%));
}

tr.speed6 {
	background-image: linear-gradient(230deg, hsl(0, 54%, 38%), hsl(10, 49%, 56%));
}

tr.speed0:hover {
	background-image: linear-gradient(230deg, hsl(335, 58%, 60%), hsl(335, 47%, 72%));
	color: #fff;
}

tr.speed1:hover {
	background-image: linear-gradient(230deg, hsl(8, 58%, 67%),hsl(8, 80%, 69%) );
	color: #fff;
}

tr.speed2:hover {
	background-image: linear-gradient(230deg, hsl(282, 38%, 40%), hsl(282, 27%, 68%));
	color: #fff;
}

tr.speed3:hover {
	background-image: linear-gradient(230deg, hsl(238, 38%, 40%), hsl(206, 53%, 68%));
	color: #fff;
}

tr.speed4:hover {
	background-image: linear-gradient(230deg, hsl(186, 38%, 40%), hsl(186, 27%, 68%));
	color: #fff;
}

tr.speed5:hover {
	background-image: linear-gradient(230deg, hsl(30, 83%, 50%), hsl(30, 49%, 68%));
	color: #fff;
}

tr.speed6:hover {
	background-image: linear-gradient(230deg, hsl(0, 54%, 50%), hsl(10, 49%, 68%));
	color: #fff;
}

.table-responsive {
	background-color: rgba(229, 229, 229, 0.3);
	border-radius: 4px;
	border: solid;
	border-width: 0;
	margin: 2em;
}

.black {
	background-color: rgba(0, 0, 0, 0.3);
}
.gray {
	background-color: rgba(33,33,33, 0.1);
}

.table {
	margin-bottom: 0;

	min-width: 1500px;
}

a {
	color: #bbffff !important;
}

a:hover {
	color: aqua;
}

a:checked {
	color: azure;
}

.index_banner {
	/* position: relative; */
	padding: 2em 1em;
	margin: 1em 2em 0em;
	border-radius: 20px;
	box-shadow: 1px 1px 10px #333;
	background-image: linear-gradient(200deg, #2980b9, #2c3e50);
	text-align: left;
	vertical-align: middle;
}

#canvas_bg {
	position: absolute;
	/* width: 100%;
    height: 100%; */
	z-index: -10;
}

.title {
	color: #fefeff
}

footer {
	color: #fff;
	background-image: linear-gradient(90deg, rgba(200, 200, 255, 0.2), rgba(255, 255, 255, 0.4));
	box-shadow: -10px 0px 50px #333;
	width: 100%;
	padding: 2em;
	margin-bottom: 0px;

	line-height: 40px;
}

/* layer */
.tips-content {
	padding: 20px;
	background-color: #000;
	color: #fff;
}


.t-left {
	text-align: left;
}
.t-center {
	text-align: center;
}
.t-right {
	text-align: right;
}

#tb_results .icon {
	width: 15px;
	cursor: pointer;
}

#tb_results .ranking,
#tb_results .limit,
#tb_results .accelerate,
#tb_results .speed {
	min-width: 65px;
}

#tb_results .mods {
	min-width: 80px;
}

#tb_results .lv {
	min-width: 50px;
}

#tb_results .temperature {
	min-width: 90px;
}

#tb_results .car {
	min-width: 135px;
}


/* 移动端适配 */
@media (max-width: 550px) {
	.hid {
		display: none;
	}

	.options>div {
		margin-bottom: 5px;
	}

	/* .index_banner {
		display: none;
	}

	.mini_banner {
		display: block;
		padding-left: 20px;
		padding-top: 20px;
	}

	.input_ctrl {
		margin-top: 20px;
	} */
}

/* button动效 */

/* 国旗icon */
.icon-flag  {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.icon-flag.DE {
	background-image: url(../img/flags/DE.png);	
}
.icon-flag.BR {
	background-image: url(../img/flags/BR.png);	
}
.icon-flag.CN {
	background-image: url(../img/flags/CN.png);	
}
.icon-flag.FR {
	background-image: url(../img/flags/FR.png);	
}
.icon-flag.IT {
	background-image: url(../img/flags/IT.png);	
}
.icon-flag.JP {
	background-image: url(../img/flags/JP.png);	
}
.icon-flag.KR {
	background-image: url(../img/flags/KR.png);	
}
.icon-flag.RU {
	background-image: url(../img/flags/RU.png);	
}
.icon-flag.SE {
	background-image: url(../img/flags/SE.png);	
}
.icon-flag.UK {
	background-image: url(../img/flags/UK.png);	
}
.icon-flag.US {
	background-image: url(../img/flags/US.png);	
}
.icon-flag.CZ {
	background-image: url(../img/flags/CZ.png);	
}
